.Users {
    border: black 1px solid;
    margin: 5px;
    background: silver;

}

.Posts {
    border: black 1px solid;
    margin: 5px;
    background: lightgrey;
}

.Comments {
    border: black 1px solid;
    margin: 5px;
    background: gray;
}
